
.dropdown {
  display: none;

  background: rgb(240,240,240);
  border-radius: 4px;
  border: 1px solid rgba(160,160,170,.6);
  box-shadow: 1px 2px 8px rgba(160,160,170,.7);
}

.dropdown[data-show="true"] {
  display: block;
}

.item {
  padding: 4px 8px;
}

.item[data-clickable="true"] {
  cursor: pointer;
}

.title, .subtitle {
  margin: 0;
  padding: 0;
}

.title {
  font-size: .9rem;
  font-weight: 500;
}

.subtitle {
  font-size: .7rem;
  font-weight: 400;
  color: rgba(0,0,0,.6);
}
