
@keyframes shimmer {
  0%, 100% {
    /* mask: linear-gradient(-60deg,#000 40%,#0007,#000 60%) right/300% 100%; */
    mask-image: linear-gradient(-60deg,#000 40%,#0007,#000 60%);
    mask-size: 300% 100%;
  }
  0% { mask-position: right }
  100% { mask-position: left }
}

.wrapper {
  position: relative;
}

.loader {
  animation: var(--loading-animation) var(--loading-speed) ease-in-out var(--loading-delay) infinite normal none;
}

.overlayWrapper {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  font-size: 4rem;
  color: rgba(255,255,255,.7);
  border-radius: 50%;
}
