
.input {
  --height: 40px;

  height: var(--height);

  font-size: 1rem;
  margin: 0;
  padding: 2px 8px;
  border: 1px solid #c0c0df;
  border-radius: 4px;
  outline: none;
}

.input:invalid, .input:global(.invalid) {
  border: 2px solid rgb(200,0,10) !important;
}

.input:focus, .input:global(.focus) {
  border: 2px solid rgb(26,115,232);
  box-shadow: 0 0 5px 2px rgba(26,115,232,.4);
}

.inputStack {
  --stack-gap: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--stack-gap);
}
