
.app {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template:
    "header header" 96px
    "sidebar main" 1fr
    / minmax(200px, 400px) minmax(200px, 1fr);
  gap: 0;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  z-index: 100;
  border-right: .5px solid rgba(80,80,85,.7);
  box-shadow: 2px 0 6px rgba(160,160,170,.5);
}

.main {
  grid-area: main;
}
