
.app {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: grid;
  grid-template:
    "map" 1fr
    "form" 1fr
    "ad" 60px
    / 1fr;

  @media (min-width: 640px) {
    grid-template:
      "form map" 1fr
      "form ad" 60px
      / minmax(350px, 1fr) 2fr;
  }
}

.app.listMode {
  grid-template:
    "map" 0
    "form" 1fr
    "ad" 60px
    / 1fr;
}

.map {
  grid-area: map;
}

.form {
  grid-area: form;
  border: .5px solid rgba(80 80 85 / .7);
  box-shadow: 0 0 6px rgba(160 160 170 / .5);
  overflow: auto;
}

.ad {
  grid-area: ad;
}
