
@keyframes bounce {
  0%, 50%, 100% { transform: translateY(0) }
  25% { transform: translateY(-25%) }
}

.dots {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  padding: .25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}

.dot {
  --dot-size: calc((var(--size) / var(--count)) - (.25rem * var(--count)));
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background: rgba(var(--color), .8);

  display: inline-block;
  animation: bounce var(--speed) infinite ease-in-out;
  animation-delay: calc((var(--speed) / (var(--count) + 3)) * var(--index));
}
