
.form {
  display: flex;
  flex-direction: column;
  background: rgb(255 255 255);
}

.inputArea {
  flex: 1 0 0;
  overflow-y: scroll;

  .viewMode {
    display: flex;
    justify-content: center;
    padding-block: 8px;

    @media (min-width: 640px) {
      display: none;
    }
  }
}

.submitArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-top: .5px solid rgba(80 80 85 / .5);
  box-shadow: 0 -1px 3px rgba(160 160 170 / .8);

  .error {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 8px;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
}

.stopsAndLegs {
  border-bottom: .5px solid rgba(80 80 85 / .5);
  box-shadow: 0 1px 3px rgba(160 160 170 / .8);
}

.options {
  border-bottom: 8px solid rgb(160 160 170);
}

.stopOptions {
  flex: 1 0 0;
}
