
.dropdown {
  background: rgb(240 240 240);
  border-radius: 4px;
  border: 1px solid rgba(160 160 170 / .6);
  box-shadow: 1px 2px 8px rgba(160 160 170 / .7);

  .cards {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
    overflow-x: scroll;
    border-bottom: 1px solid rgba(160 160 170 / .4);

    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      padding: 4px 8px;
      font-size: .7rem;
      line-height: .7rem;
      letter-spacing: -.02rem;
      height: auto;

      svg {
        font-size: 1.2rem;
      }
    }
  }

  .item {
    display: grid;
    align-items: center;
    grid-template-columns: 1.2rem 1fr;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(160 160 170 / .2);

    &[data-clickable="true"] {
      cursor: pointer;
    }

    &:hover, &:global(.hover) {
      background: rgb(160 160 170 / .2);
    }

    label {
      font-size: .9rem;
      font-weight: 600;
      grid-row: span 2;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .stateItem {
      grid-column: span 2;
      font-size: .9rem;
      font-weight: 500;
    }

    .title {
      font-size: .9rem;
      font-weight: 500;
    }

    .subtitle {
      font-size: .7rem;
      line-height: .9rem;
      font-weight: 400;
      color: rgba(0 0 0 / .6);
    }
  }
}