
.container {
  background: rgb(240 240 255);
  position: relative;
  width: 100%;
  min-height: 100%;
  isolation: isolate;
}

.map {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(240 240 255 / .5);
  z-index: 1;
}
