
.radioOption {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.radioOption > input {
  height: 1rem;
  font-size: 1rem;
}

.radioOption > label {
  font-size: 1rem;
  font-weight: 400;
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
