
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 12px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 4px 16px 4px 24px;
  gap: 16px;
}

.marker {
  --color: #4f4f5f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.marker :global(.markerText) {
  --size: 14px;
  color: var(--color);
  font-weight: 400;
  font-size: var(--size);
  line-height: var(--size);
  border-radius: 50%;

  flex: 0 0 auto;
}

.marker :global(.markerCircle) {
  --size: 14px;
  border: 2px solid var(--color);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  flex: 0 0 auto;
}

.marker :global(.markerIndex) {
  font-size: 16px;
  font-weight: 900;

  flex: 0 0 auto;
}

.marker :global(.markerBar) {
  border: 1px dashed var(--color);
  width: 2px;
  border-radius: 1px;

  flex: 1;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  flex: 1 1 auto;

  margin: 0 0 8px 0 !important;
}

.actions {
  opacity: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;

  margin: 0 0 8px 0;
  transition: opacity .2s ease-out;
}

.row:hover .actions {
  opacity: 1;
}

.actions button {
  --font-size: 1.1rem;

  background: none;
  border: none;

  font-size: var(--font-size);
  line-height: var(--font-size);

  border-radius: 4px;
  padding: 0;
}

.stopOptions {
  position: absolute;
  left: 30%;
}
