<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>

<body>
  <p>
    Welcome to Loop Mapping! We're thrilled to have you on board. To ensure the security of your account, please verify
    your email address by entering the following verification code:
  </p>

  <p id="code"><strong>{{verificationCode}}</strong></p>

  <h2>How to complete the verification process:</h2>

  <ol>
    <li>Log in to your Loop Mapping account.</li>
    <li>Navigate to the account settings page.</li>
    <li>Enter the provided verification code.</li>
  </ol>

  <p>
    Once you've completed these steps, you're ready to start using Loop Mapping for all your deliveries and trips.
  </p>

  <p>Best regards,</p>
  <p>The Loop Mapping Team</p>
  <p>{{supportEmail}}</p>
</body>

</html>